/**
*  GENERAL STYLES
*/
*, 
*:before, 
*:after{
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
   background-color: #fafafa;
   font-size: 16px;
   padding: 30px;
   position: relative;
}

.btn{
   padding: 10px;
   border-radius: 3px;
   border: 0;
   width: 120px;
   cursor: pointer;
}

.btn--alert{
   background: #720000;
   color: #fff;
}

.btn--success{
   background: #005B00;
   color: #fff;
}

.highlight{
   box-shadow: 0 0 15px 3px rgba(255, 150, 150, .5) inset; 
}


/*
*   CONTAINER
**/

.container{
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: space-between;   
   background: #eee;
}

/*
*   PLAYER
**/

.player{
   padding: 15px;
   width: 630px;
}

.player__screen{   
   margin-bottom: 15px;
   background: #333;
}

.player__controls{
   
}

.player__img{
   background: #333;
}

.player__img--blank{
   width: 100%;
   height: 100%;
}

/*
*   LIBRARY
**/

.library{
   position: relative;
   width: auto;
   height: auto;
   padding-top: 40px;    
   position: relative;  
}

.library__label{
   position: absolute;
   top: 0;
   left: 0;   
   height: 40px;
   background: #333;
   color: #fff;
   padding: 10px 15px;   
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}


.library__container{   
   max-height: 400px;
   width: 300px;   
   padding: 15px 0;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   overflow-y: scroll;
   border: 2px solid #333;
   background: #ccc;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}

.library__thumbnail{
   margin: 5px;
   width: 80px;
   height: 60px;
   background: #eee;
   cursor: move;
}

/*
*   TIMELINE
**/


.timeline__container{   
   width: 100%;
   overflow-x: scroll;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   padding: 0 10px 20px;
   background: #ccc;
}

.timeline__slot{
   flex:0 0 150px;
   width: 150px;
   height: 90px;
   margin: 10px;
   background: #555;
   overflow: hidden;
}

.slot__image{
   width: 100%;
   height: auto;
}


@media (max-width : 900px){
   .container{
      flex-direction: column;
   }
   
   .player,
   .library__container{
      width: 100%;
   }
}